<div class="modal fade" id="fileUploadModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fileImportModelTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" id="fileImportUrl" />
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                            Select File
                        </label>
                        <div class="col-md-9 col-sm-9 ">
                            <input type="file" name="importFile" id="importFile" class="form-control" />
                            <div class="text-left mb-10">
                                <span class="text-danger err-file-import" style="display:none;">Please select file.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-success" id="btnUpload" type="button" value="Upload">Upload File</button>
            </div>
        </div>
    </div>
</div>


