@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<div>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form>
                    <h1>Confirmation</h1>
                    <div>
                        Please check your email to reset your password.
                    </div>
                    <div>
                        <a class="reset_pass btn btn-primary" href="Login">Log In</a>
                    </div>

                    <div class="clearfix"></div>
                </form>

            </section>
        </div>
    </div>
</div>
